*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-size: 16px;
	line-height: 1.2;
}

body,
.nav__list,
.nav__item,
.item__link,
.more-btn,
.checkbox,
.popup__item,
.checkbox__input:checked ~ .popup,
.checkbox__input:checked ~ .popup__more,
.search-container{
	display: flex;
}

.nav__item,
.more-btn{
	justify-content: center;
}

body{
	font-family: Lato, sans-serif;
	color: #303030;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

.nav {
	float: right;
}

.nav__list {	
	align-content: center;
	padding: 10px;
}

.nav__item {	
	min-width: 80px;
	height: 60px;
	margin-right: 10px;	
	align-content:center;
	box-sizing: border-box;
	align-items: center;	
}

a:visited,
a:active{
	color: #303030;
}

a:hover{
	cursor: pointer;
	color: 	rgba(77, 182, 172, 1);
}

a:focus ,
.checkbox__input:focus + .checkbox{
	border: 1px dashed #85c295;
	border-radius: 5px;
}


.checkbox__input{
	-moz-appearance:none;
	-webkit-appearance: none;
	appearance:none;
	width: 1px;
	position: absolute;
	left: -1px;
	height: 1px;
}


.checkbox__image{
	width: 25px;
	height: 25px;
}
.checkbox__image:hover{
	cursor: pointer;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, .1);
	padding: 10px;
}

.checkbox{
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.item__link{
	width: 100px;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px 0;
}
.no-padding{
	padding: 0;
}
.show-content-btn {
}

.popup {
	overflow-y: auto;
	display: none;
	position: absolute;
	border-radius: 5px;
	padding-top: 20px;
	justify-content: space-around;
	border: 1px solid #e0e0e0;
	bottom: 0;
	transform: translate(0, 100%);
	right: 0;
	z-index: 2;
	background-color: white;
	max-height: 70vh;
	width: 320px;
	flex-wrap: wrap;
}


.popup-btn{
	position: relative;
}

.popup__more{	
	display: none;
	overflow-y: scroll;
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
}

.popup__item {
	margin-bottom: 20px;	
}

.popup__item p:selected{
	background-color: salmon;
	color: white;
}

.item__icon {
	min-width: 45px;
	margin-bottom: 10px;
	height: 45px;
	background: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.search-container{
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo{
	min-width: 200px;
	width: 100%;
	margin-top: -80px;
	max-width: 500px;
	height: auto;
}

.logo__img{
	width: 100%;	
	height: auto;
}


.search-field {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.search-field__input {
	width: 100%;
	height: 50px;	
	border-radius: 25px;
	border: none;
	text-transform: capitalize;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2); 
	padding: 25px;
	box-sizing: border-box;
	transition: box-shadow 0.5s ease-in; 
}	

.search-field__input:hover{
	cursor: pointer;
	box-shadow: 5px 5px 20px rgba(76, 96, 137,.6);
} 

.search-field__input:focus{
	box-shadow: 5px 5px 20px rgba(77, 182, 172, .7);
}

.search-field__button {
	background-color: white;
	border: none;
	outline: none;
	border-radius: 50%;
}

.button{
	position: absolute;
	width: 60px;
	height: 100%;
	z-index: 1;
	right: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.button:hover .button__image,
.search-field__input:hover ~ 
.search-field__button>.button__image{
	cursor: pointer;
	fill: rgba(76, 96, 137,.6);
}

.search-field__input:focus ~ 
.search-field__button>.button__image{
	fill: rgba(77, 182, 172, .7);
}

.button__image{
	width: 50%;	
	height: 50%;
	fill:#888;
	transition: fill 0.5s ease-in;
}


.more-btn {
	width: 100%;
	border-radius:5px;
	text-align: center;
	flex-direction: column;
	position: relative;
}


.more{
	width: 100%;
	text-align: center;
	padding: 10px 0;
	position: relative;
	border-radius:0 0 5px 5px;
	transition: 0.15s ease-in;
	background-color: #eaeaea;	
}

.popup__more{
	display: none;
	transition: 0.15s ease-in;
	overflow: auto;
	max-height: 500px;
}


.more:hover{
	cursor: pointer;
	background-color: #dedede;
}

.more:before{
	content: "More";
	margin-right: 10px;
	margin-bottom: 40px;
}
.checkbox__input:focus  ~ ul + .more:before{
	color: rgba(77, 182, 172, .9);
}

.checkbox__input:checked ~ ul ~.more:before{
	content: "Less";
}

.checkbox__input:checked ~ ul ~.more:after{
	content: "▲";
}

.more:after{
	color: rgba(77, 182, 172, .9);
	content: "▼";
	font-size: 1em;
	text-align: center;
	width: 20px;
	height: 20px;
}

.more > img{
	width: 15px;
}

.user-icon {
	margin: 5px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid #eaeaea;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../assets/user.svg");
}

.user-icon:hover{
	border-color:  rgba(77, 182, 172, .4);
}

.mail {
	background-image: url("../assets/mail.svg");
}
.calendar {
	background-image: url("../assets/calendar.svg");
}
.news {
	background-image: url("../assets/news.svg");
}
.files {
	background-image: url("../assets/files.svg");
}
.maps {
	background-image: url("../assets/maps.svg");
}
.contacts {
	background-image: url("../assets/contacts.svg");
}
.pictures {
	background-image: url("../assets/pictures.svg");
}
.video {
	background-image: url("../assets/video.svg");
}
.docs {
	background-image: url("../assets/documents.svg");
}

.apps {
	background-image: url("../assets/app.svg");
}
.planet {
	background-image: url("../assets/planet.svg");
}
.translator {
	background-image: url("../assets/translate.svg");
}

.button__image {
	background-image: url("../assets/search.svg");
}
